/* submission-cards.component.css */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin-top: 20px;

  }
  
  .header {
    font-size: 16px;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }

  .submission-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 435px;
    height: 140px;
    margin-left: 10px;
  }
  
  .tag {
    font-size: 14px;
    vertical-align: middle;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    padding: 1px 8px;
    margin-top: 15px;
    border-radius: 4px;
  }
  
  .Low-Risk { background-color: #d7e5da; color: #53d86a; border: 1px solid #53d86a;  margin-left: 135px; }
  .Uncomplete { background-color: #ffece5; color: #ff3d00;  border: 1px solid #ff3d00;  margin-left: 79px; }
  .Needs-Review { background-color: #ececed; color: #b8b9bc; border: 1px solid #b8b9bc;  margin-left: 89px; }
  
  .card-body {
    padding: 5px;
    margin-left: 8px;

  }
  
  .past-due {
    color: #ff3d00;
  }
  
  /* Add this to your CSS file */
.title-tag-container {
    display: flex;
    align-items: center;
  }

  .card-body p {
    margin: 10px 0; /* Adjust the top and bottom margin as needed */
  }
  
  .gray-text {
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
  }

  .text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
  }
  
  .due-date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
  }
  /* Your CSS file */
  .circle-icon {
    width: 22px;
    height: 22px;
    vertical-align: middle;
  }
  
  .circle-icon-Low-Risk {
    filter: invert(76%) sepia(62%) saturate(475%) hue-rotate(69deg) brightness(89%) contrast(89%);
  }
  
  .circle-icon-Uncomplete {
    filter: invert(34%) sepia(82%) saturate(3796%) hue-rotate(359deg) brightness(101%) contrast(112%);
  }
  
  .circle-icon-Needs-Review{
    filter: invert(86%) sepia(3%) saturate(174%) hue-rotate(188deg) brightness(87%) contrast(91%);
  }
