<div class="header">
    <div class="logo">ZenduForms</div>
    <div class="nav">
      <button>
        <img src="../../assets/list-bullet.svg" alt="Forms" class="white-svg">
        Forms
      </button>
      <button>
        <img src="../../assets/customers.svg" alt="Customer" class="white-svg">
        Customers
      </button>
      <button class="submissions">
        <img src="../../assets/customers.svg" alt="Submissions" class="white-svg">
        Submissions
      </button>
      <button>
        <img src="../../assets/history.svg" alt="History" class="white-svg">
        History
      </button>
      <button>
        <img src="../../assets/reportworkflow.svg" alt="Reports" class="white-svg">
        Reports
      </button>
      <button>
        <img src="../../assets/reportworkflow.svg" alt="Workflow" class="white-svg">
        Workflow
      </button>
    </div>
    <div class="icons">
      <span><img src="../../assets/bell.svg" alt="Bell" class="white-svg1"></span>
      <span><img src="../../assets/exit.svg" alt="Exit" class="white-svg1"></span>
    </div>
  </div>

  <div class="heading">
    <span>Submissions</span>
  </div>

  <router-outlet></router-outlet>
  

  
  
